  <div class='col-sm-6 col-lg-4 marg'>
    <div class="card hvr-grow">
      <%= link_to post do %>
        <div class="card-topper" style='background-image: url(<%= post.banner_image_url %>);'></div>
      <% end %>
      <div class="card-block">
        <h4 class="card-title"><%= post.title %></h4>
        <small class="published_at"><i class="fa fa-clock-o"></i> <%= post.display_day_published %></small>
        <p class="card-text"><%= truncate(post.description, length: 230) %></p>
      </div>
      <div class='title-footer'>
        <span class='bottom-link'>
          <%= link_to 'Читать', post %>
        </span>
      </div>
    </div>
  </div>
