<!-- <nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <strong><%= link_to 'Целитель', root_path, class: 'mr-auto nav-link' %></strong>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item active">
            <%= link_to 'Блог', posts_path, class: "nav-link #{yield(:blog_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Чем могу помочь', about_path, class: "nav-link #{yield(:about_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Обо мне', contact_path, class: "nav-link #{yield(:contact_active)}" %>
          </li>
          <% if author_signed_in? %>
          <li class="nav-item dropdown author-nav">
            <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Меню
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Посты', authors_posts_path, class: "dropdown-item" %>
              <%= link_to 'Аккаунт', authors_account_path, class: "dropdown-item" %>
              <%= link_to 'Выйти', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav> -->
<!-- <nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <strong><%= link_to 'Целитель', root_path, class: 'mr-auto nav-link' %></strong>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item active">
            <%= link_to 'Блог', posts_path, class: "nav-link #{yield(:blog_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Чем могу помочь', about_path, class: "nav-link #{yield(:about_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Обо мне', contact_path, class: "nav-link #{yield(:contact_active)}" %>
          </li>
          <% if author_signed_in? %>
          <li class="nav-item dropdown author-nav">
            <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Меню
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Посты', authors_posts_path, class: "dropdown-item" %>
              <%= link_to 'Аккаунт', authors_account_path, class: "dropdown-item" %>
              <%= link_to 'Выйти', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav> -->

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Целитель', root_path, class: 'mr-auto nav-link' %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item active">
            <%= link_to 'Блог', posts_path, class: "nav-link #{yield(:blog_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Чем могу помочь', about_path, class: "nav-link #{yield(:about_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Обо мне', contact_path, class: "nav-link #{yield(:contact_active)}" %>
          </li>
          <% if author_signed_in? %>
          <li class="nav-item dropdown author-nav">
            <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Меню
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Посты', authors_posts_path, class: "dropdown-item" %>
              <%= link_to 'Аккаунт', authors_account_path, class: "dropdown-item" %>
              <%= link_to 'Выйти', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
